@font-face {
    font-family: "Belgan-Aesthetic";
    src: url("/fonts/Belgan-Aesthetic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

//Playfair

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-BlackItalic.ttf")
        format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-BoldItalic.ttf")
        format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-ExtraBoldItalic.ttf")
        format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-MediumItalic.ttf")
        format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/Playfair/PlayfairDisplay-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}

//Roboto

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

// Bounce Scroll Down

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
}

.scrollDownBounce {
    animation: bounce 1s infinite ease-in-out;
}

.scrollDownBounce:hover {
    animation-play-state: paused;
    opacity: 1 !important;
}

.parentSVG {
    transition: opacity 0.5s ease-in-out;
}
