@font-face {
    font-family: "Belgan-Aesthetic";
    src: url("/fonts/Belgan-Aesthetic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }
}

.scrollDownBounce {
    animation: bounce 1s infinite ease-in-out;
}

.scrollDownBounce:hover {
    animation-play-state: paused;
    opacity: 1 !important;
}

.parentSVG {
    transition: opacity 0.5s ease-in-out;
}
